%center
  %h1 Home
  %br
  %br
  %br
    .row{:style => "background-color: lightblue"}
      %br
      %br
      = link_to("Reservations", "/reservations/all")
      %br
      %br
      = link_to("Customers", "/customers/all")

      %br
      %br
      = link_to("Logout", "/")
      %br
      %br

  %img.img-responsive{:src => "/dashboard.png", :height => 800, :width => 1200}
