%center
  .page-header{:style => "background-color: lemonchiffon"}
    %br
    %h1 Welcome to Hotel Management!
    .row
    .col-md-8.col-sm-6
      .container-fluid
        = render partial: 'home/login'
